
body{
    width: 10rem;
    height: 10rem;
    flex-direction: column;
    position: relative;
    width: 400px;
    background: black;
}

p, h2{
    margin-bottom: 0;
    color: white;
}

#empty-div{
    background:black

}
#learn-btn{
    position: center;

}
.lead{
    color: gray
}
.hide-div{
    position: absolute;;
    visibility: hidden;
    width:0;
    height:0;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-top:0;
    overflow: auto;
}
ul li{
	margin: 10px;
    font-size: 16px;
    height: 4rem;
    border-bottom: 1px solid;
    border-bottom-color: #90e3ff;
    box-shadow: 0.3px 0 5px -2.1px rgba(0,0,0,0.5);
    cursor: pointer;
    white-space: nowrap;
    -webkit-border-radius: 10px; /* Setting cross browser rounded edges*/
    -moz-border-radius: 10px;
    border-radius: 10px;

}
ul li:hover{
    background: darkslategray;
    transform: translateX(10px);
}
.content{
    overflow: hidden;
    display: flex;

    justify-content: space-between;
    height: 100%;
}

.list-div{

    display: contents;

    width:20rem;
}

.list-div p{
    position: relative;
    padding-top:1em;
    padding-left: 1.2em;
    font-size: 1.1em;
    max-width:17rem;
    overflow: hidden;
    width: 17rem


}
.delete{
    width: 20px;
    height: 20px;
    margin-top: 1.4em;
    margin-right:1em;
    border: none;
    outline: none;
}
.icon_32{
    background: url('images/paper-clip_32.png');
    height: 32px;
    width: 32px;
    display:block;
    /* Other styles here */
}


#snackbar {
  visibility: hidden;
  width:94%;
  position:fixed;
  margin-left: 3%;
  background-color: #90e3ff; /* Blue background color */
  color: #fff; /* White text color */
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  bottom: 1px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.switch {
  position: absolute;
  left: 80%;
  top: 15%;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
